* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
   background: linear-gradient(179.4deg, rgb(146, 221, 219) 31.2%, rgb(236, 167, 219) 90.9%);
   color: #282847;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
}


h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}


.generator {
	width: 100%;
	max-width: 640px;
	padding: 2rem 1rem;
	background-color: #fff;
	border-radius: 1rem;
}

/* the input is not as we do not want the check box*/

input:not([type="checkbox"]),
button {
	appearance: none;
	outline: none;
	border: none;
	background: none;
}


/* target the checkbox  */
input[type="checkbox"] {
	cursor: pointer;
}

/* all the style for the wrap generator code */
.wrap-password {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 2rem;
}


/* the content field */
.wrap-password:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	height: 3px;
	left: 0;
	right: 0;
	border-radius: 5px;
	background: linear-gradient(to right, #ad25fc 25%, #1767c8 75%);
}

.wrap-password input {
	flex: 1 1 0%;
	padding: 0.5rem;
	color: #282847;
}

.wrap-password input::placeholder {
	color: #000000;
	font-style:oblique;
}

.wrap-password button {
	cursor: pointer;
	background: linear-gradient(to bottom, #631093 0%, #055ac2 75%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}




label {
	display: flex;
	user-select: none;
	margin-bottom: 1rem;
    font-size: 20px;
    color: #9408e6;
}

label span {
	display: block;
	flex: 1 1 0%;
	white-space: nowrap;
}

label input[type="number"] {
	text-align: right;
	background-color: #bb51f8;
	width: 38px;
	font-size: 20px;
}


button[type="submit"] {
	cursor: pointer;
	padding: 0.5rem 1rem;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0.25rem;
	background: linear-gradient(to right, #ad25fc 25%, #518cd4 50%);
	background-size: 200%;
	background-position: 25%;
	transition: 0.4s ease-out;
    box-shadow: 11px 29px 20px rgba(0, 0, 0, 0.2);
}

