* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
   background: linear-gradient(179.4deg, rgb(146, 221, 219) 31.2%, rgb(236, 167, 219) 90.9%);
   color: #282847;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2rem;
}
